doctype html
html(lang="en")
  head
    title= pageTitle
    meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
    link(rel='stylesheet', href='./styles/main.css')
  body
    include ../partials/header
    
    block content
      
    include ../partials/footer
