doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel='stylesheet', href='./styles/main.css')
  body
    include ../partials/header
    h1.green Pug - node template engine puggy pug by Emily
    include ../partials/footer
