doctype html
html(lang="en")
  head
    title=pageTitle
    meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
    link(rel='stylesheet', href='./styles/main.css')
    link(rel="icon" href="./favicon.ico?v=1" type="image/x-icon")
  body
    include ../partials/header
    
    block content
      
    include ../partials/footer
    
    script
        include ../js/date.js
