extends ../layout/base

include ../mixins/table

block content
  
    include ../partials/header
    
    section.template-content.pa3.pt4.pa5-ns.f3-ns.mw8
        block subheading        
            
        .template_top.flex.flex-wrap.pt3
            
            block columns
    
    #map-images.flex.flex-column.flex-row-ns.justify-center.justify-around-ns.bg-gray.w-100.pv2.mw9
        block images
          
    section.template-table.pa4.dn.dib-l.pa5.pt3.f3-ns.mw8
        block table

    section.template-bottom.pa4.flex.flex-wrap.row-reverse-ns.mw9
      
        .col1.w-100.w-50-ns.flex.flex-column.justify-end
            +ctaButton("./contact", view.cta)
        
        .col2.w-100.w-50-ns.flex.flex-column.justify-end
            +linkToHome()
