mixin footerLink (text, href)
    li.ma3.mv0-ns
      a.tracked.no-underline.white(href=`${href}`)=text

footer.bg-black.white.pv4.pv3-ns.ph5-ns.f7.f4-ns.tc.flex.flex-column.row-reverse-ns.justify-between.tracked
    ul.w-100.w-auto-ns.list.ma0.pa0.flex.flex-column.flex-row-ns
        for link in footer.links
            +footerLink(link.text, link.link)
    p.mt4.mv0-ns © Cootfreight Ltd. 
        span#footer_date 
    
