header.bg-white.pt3.pb4.flex.justify-end.pr3.f6.tracked
    a(href="./contact").black.no-underline Contact Us
    a(href="./" title="home")
        img.h3.absolute.left-1.top-1(src="./images/logo-small.png" alt="Coot logo")
