body {
  font-family: open-sans;
  background-color: #66cccc;
}

input {
  outline: none;
  border: 0;
  font-family: open-sans;
}

.home-headline-1 {
  color: white;
  -webkit-text-fill-color: red;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
}

.home-headline-2 {
  color: white;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
}

.from-markdown p {
  margin: 0.25rem;
}
