/* custom styles additional styles */
/* font sizes are in line with tachyons type scale */

body {
  font-family: open-sans;
  background-color: #66cccc;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

h1,
h2 {
  margin: 0;
}

input {
  outline: none;
  border: 0;
  font-family: open-sans;
}

.main_content {
  flex: 1 0 auto;
  margin-top: auto;
}

.home-headline-1 {
  color: white;
  -webkit-text-fill-color: red;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
}

.home-headline-2 {
  color: white;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
}

.from-markdown p {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.from-markdown p {
  font-size: 0.875rem;
}

.from-markdown a {
  color: white;
}

.from-markdown ul {
  padding-left: 0;
  font-weight: 300;
  font-size: 0.875rem;
  list-style: none;
  margin: 0;
}

.from-markdown li:before {
  content: '•\00a0 \00a0';
  font-size: 0.8rem;
}

.from-markdown h3 {
  font-size: 1rem;
}

#contact_phone-email p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* same screen size as for tachyons -ns extension */
@media only screen and (min-width: 30em) {
  .home-headline-1,
  .home-headline-2 {
    -webkit-text-stroke-width: 3px;
  }

  .from-markdown p,
  li {
    font-size: 1.25rem;
    font-weight: normal;
  }

  .from-markdown h3 {
    font-size: 1.5rem;
  }
}
