/* override tachyons classes + media queries */

.lh-title {
  line-height: 1.5;
}

@media only screen and (min-width: 30em) {
  .top-05-ns {
    top: 1.5rem;
  }

  .tracked-medium-ns {
    letter-spacing: 0.06em;
  }

  .coot {
    height: 5.5rem;
  }
}
