extends ../layout/base

prepend title
    title 404 Page not found | Coot Freight Ltd

block content
    
    include ../partials/header
    
    #404_content.pa3.pa5-ns.f3-ns.mw9
      
        +subheading('Page not found')
        
        +linkToHome()
