extends ../layout/info_template

prepend title 
    title=view.pageTitle

block top
    
    #air-freight_top_col-1.pl5-ns.w-50-ns

        +pageheading(view.headline)

        #air-freight_top-content.pv3

            +markdownContent("air-freight_body", view.body)
        
    #air-freight_top_col-2.w-50-ns.h5-ns.tc-ns.mb5-ns.tc

        img.w-70.w-auto-ns.h-100-ns.self-center(src='./images/travel.png' alt="image of an airplane traveling around the world")

block bottom
    +ctaButton('./contact', view.cta)
