doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel='stylesheet', href='./css/main.css')
  body
    h1.green Pug - node template engine puggy pug by Emily
    #container.col
      if youAreUsingPug
        p You are amazing!
      else
        p Get on it!
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.
      include ../partials/snippet
