extends ../layout/info_with_map


prepend title
    title=view.pageTitle
    
block subheading
    +subheading(view.headline)
    
block columns
    +columns(view.body1, view.body1)
    
block images
    img.pa3.vh-75-ns(src="./images/road-map.png" alt="road map of Europe")
     
block table
    h3.tracked.f3.fw4=view.tableHeading
  
    #table_container.w-100
        +table(view.table)  
