extends ../layout/info_template

prepend title 
    title=view.pageTitle
    
block top
  
  #t-and-c_top.pl5-ns.f6.f5-ns

      +subheading(view.headline)
  
      +markdownContent("ancillary_body", view.body)


block bottom    
    +ctaButton('./contact', view.cta)
