mixin ctaButton(link, text)
    form(action=link).w-100.pv2.tc
        input(type="submit" value=text).bg-red.white.pa2.w-100.mw6.f4.f2-ns.shadow-6.lh-title.tracked.pointer

mixin subheading(text)
    h2.b.f4.f2-ns.lh-title.tracked.near-black=text
    
mixin markdownContent(id, content)
    div(id=id).from-markdown.mv2.tracked.lh-copy!=content
    
mixin linkToHome()
    .link-to-home.white.pv3.f3-ns
        | <  
        a(href='./').ml2.white.tracked.underline='Back to home'
